#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --without python-support \
		--parallel \
		-Dzorba-3.0 -Bzorba-3.0/build

override_dh_clean:
	rm -fr zorba-3.0
	rm -f zorba-3.0.tar.gz
	dh_clean

override_dh_auto_configure:
	wget http://ftp.indexdata.dk/pub/support/zorba-3.0.tar.gz
	tar zxf zorba-3.0.tar.gz
	cd zorba-3.0; mkdir build; cd build; cmake \
		-Wno-dev \
		-D CMAKE_INSTALL_PREFIX=/opt/zorba \
		-D ZORBA_SUPPRESS_SWIG:BOOL=ON \
		..

# Don't run tests. They fail
override_dh_auto_test:

