#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@ --without python-support \
		--parallel \
		-Dtmp/zorba-3.0 -Btmp/zorba-3.0/build

override_dh_auto_clean:
	rm -fr tmp
	
override_dh_auto_configure:
	mkdir -p tmp
	cd tmp; wget http://ftp.indexdata.dk/pub/support/zorba-3.0.tar.gz
	cd tmp; tar zxf zorba-3.0.tar.gz
	cd tmp/zorba-3.0; mkdir build; cd build; cmake \
		-Wno-dev \
		-D CMAKE_INSTALL_PREFIX=/opt/idzorba \
		-D ZORBA_SUPPRESS_SWIG:BOOL=ON \
		..

# Don't run tests. They fail
override_dh_auto_test:

